@import 'primeicons/primeicons.css';
.app-cart {
  text-decoration: none;
  user-select: none;
  cursor: pointer;
  box-shadow: 0 6px 0 var(--p-gray-200);
  border-radius: 2em;
  overflow: hidden;
  border: solid 1px rgba(0, 0, 0, 0.1);
  border-bottom-color: transparent;
  color: var(--p-blue-500);
  transition: color 0.1s ease-in-out;
  margin-bottom: 6px;
}
.app-cart:hover {
  color: var(--p-orange-500);
}
.app-cart:active {
  background-color: rgba(0, 0, 0, 0.02);
  color: var(--p-orange-500);
  margin-bottom: 0;
  margin-top: 6px;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.3);
  border-bottom-color: rgba(0, 0, 0, 0.1);
}
.app-cart-static {
  text-decoration: none;
  box-shadow: 0 6px 0 var(--p-gray-200);
  border-radius: 2em;
  overflow: hidden;
  border: solid 1px var(--p-gray-200);
  border-bottom-color: transparent;
  transition: color 0.1s ease-in-out;
  margin-bottom: 6px;
}
.app-link {
  text-decoration: none;
  user-select: none;
  cursor: pointer;
}
.app-button {
  display: block;
  width: fit-content;
  box-sizing: border-box;
  padding: 1em 2em;
  outline: none;
  border: 2px solid var(--p-blue-500);
  background-color: var(--p-blue-500);
  color: white;
  border-radius: 1em;
  font-weight: bold;
  box-shadow: 0 5px 0 var(--p-gray-300);
}
.app-button-sm {
  padding: 0.5em 1em;
  font-size: 12px;
}
.app-button-static {
  display: block;
  width: fit-content;
  box-sizing: border-box;
  padding: 1em 2em;
  outline: none;
  border: 2px solid var(--p-blue-500);
  background-color: var(--p-blue-500);
  color: white;
  border-radius: 1em;
  font-weight: bold;
  box-shadow: 0 5px 0 var(--p-gray-300);
  cursor: grabbing;
}
.app-button:hover {
  border: 2px solid var(--p-orange-500);
  background-color: var(--p-orange-500);
}
.app-button:active {
  margin-top: 5px;
  margin-bottom: -5px;
  border: 2px solid var(--p-orange-600);
  background-color: var(--p-orange-600);
  box-shadow: 0 0 0 var(--p-gray-300);
}
.app-button:disabled {
  opacity: 50%;
  pointer-events: none;
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s ease;
}
.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
.slide-down-move,
.slide-down-enter-active,
.slide-down-leave-active {
  transition: all 0.5s ease-in-out;
}
.slide-down-enter-from,
.slide-down-leave-to {
  opacity: 0;
}
.slide-down-enter-active {
  position: absolute;
}
.slide-fade-enter-active {
  transition: all 0.3s ease-out;
}
.slide-fade-leave-active {
  transition: all 0.3s cubic-bezier(1, 0.5, 0.8, 1);
}
.slide-fade-enter-from,
.slide-fade-leave-to {
  opacity: 0;
}
:root {
  --p-text-color: #495057;
  --p-text-color-secondary: #6c757d;
  --p-border-radius: 6px;
  --p-primary-color: #3B82F6;
  --p-primary-color-text: #ffffff;
  --p-surface-ground: #eff3f8;
  --p-surface-section: #ffffff;
  --p-surface-card: #ffffff;
  --p-surface-overlay: #ffffff;
  --p-surface-border: #dfe7ef;
  --p-surface-hover: #f6f9fc;
  --p-surface-0: #ffffff;
  --p-surface-50: #FAFAFA;
  --p-surface-100: #F5F5F5;
  --p-surface-200: #EEEEEE;
  --p-surface-300: #E0E0E0;
  --p-surface-400: #BDBDBD;
  --p-surface-500: #9E9E9E;
  --p-surface-600: #757575;
  --p-surface-700: #616161;
  --p-surface-800: #424242;
  --p-surface-900: #212121;
  --p-blue-50: #bfdff3;
  --p-blue-100: #d0e1fd;
  --p-blue-200: #abc9fb;
  --p-blue-300: #85b2f9;
  --p-blue-400: #609af8;
  --p-blue-500: #7a88fe;
  --p-blue-600: #326fd1;
  --p-blue-700: #295bac;
  --p-blue-800: #204887;
  --p-blue-900: #183462;
  --p-green-50: #f4fcf7;
  --p-green-100: #caf1d8;
  --p-green-200: #a0e6ba;
  --p-green-300: #76db9b;
  --p-green-400: #4cd07d;
  --p-green-500: #ccd537;
  --p-green-600: #1da750;
  --p-green-700: #188a42;
  --p-green-800: #136c34;
  --p-green-900: #0e4f26;
  --p-yellow-50: #fefbf3;
  --p-yellow-100: #faedc4;
  --p-yellow-200: #f6de95;
  --p-yellow-300: #f2d066;
  --p-yellow-400: #eec137;
  --p-yellow-500: #fabe37;
  --p-yellow-600: #c79807;
  --p-yellow-700: #a47d06;
  --p-yellow-800: #816204;
  --p-yellow-900: #5e4803;
  --p-cyan-50: #f3fbfd;
  --p-cyan-100: #c3edf5;
  --p-cyan-200: #94e0ed;
  --p-cyan-300: #65d2e4;
  --p-cyan-400: #35c4dc;
  --p-cyan-500: #06b6d4;
  --p-cyan-600: #059bb4;
  --p-cyan-700: #047f94;
  --p-cyan-800: #036475;
  --p-cyan-900: #024955;
  --p-pink-50: #fef6fa;
  --p-pink-100: #fad3e7;
  --p-pink-200: #f7b0d3;
  --p-pink-300: #f38ec0;
  --p-pink-400: #f06bac;
  --p-pink-500: #f055a5;
  --p-pink-600: #c93d82;
  --p-pink-700: #a5326b;
  --p-pink-800: #822854;
  --p-pink-900: #5e1d3d;
  --p-indigo-50: #f7f7fe;
  --p-indigo-100: #dadafc;
  --p-indigo-200: #bcbdf9;
  --p-indigo-300: #9ea0f6;
  --p-indigo-400: #8183f4;
  --p-indigo-500: #6366f1;
  --p-indigo-600: #5457cd;
  --p-indigo-700: #4547a9;
  --p-indigo-800: #363885;
  --p-indigo-900: #282960;
  --p-teal-50: #f3fbfb;
  --p-teal-100: #c7eeea;
  --p-teal-200: #9ae0d9;
  --p-teal-300: #6dd3c8;
  --p-teal-400: #41c5b7;
  --p-teal-500: #14b8a6;
  --p-teal-600: #119c8d;
  --p-teal-700: #0e8174;
  --p-teal-800: #0b655b;
  --p-teal-900: #084a42;
  --p-orange-50: #fff8f3;
  --p-orange-100: #feddc7;
  --p-orange-200: #fcc39b;
  --p-orange-300: #fba86f;
  --p-orange-400: #fa8e42;
  --p-orange-500: #ff9828;
  --p-orange-600: #d57a14;
  --p-orange-700: #ae510f;
  --p-orange-800: #893f0c;
  --p-orange-900: #642e09;
  --p-bluegray-50: #f7f8f9;
  --p-bluegray-100: #dadee3;
  --p-bluegray-200: #bcc3cd;
  --p-bluegray-300: #9fa9b7;
  --p-bluegray-400: #818ea1;
  --p-bluegray-500: #64748b;
  --p-bluegray-600: #556376;
  --p-bluegray-700: #465161;
  --p-bluegray-800: #37404c;
  --p-bluegray-900: #282e38;
  --p-purple-50: #fbf7ff;
  --p-purple-100: #ead6fd;
  --p-purple-200: #dab6fc;
  --p-purple-300: #c996fa;
  --p-purple-400: #b975f9;
  --p-purple-500: #a855f7;
  --p-purple-600: #8f48d2;
  --p-purple-700: #763cad;
  --p-purple-800: #5c2f88;
  --p-purple-900: #432263;
  --p-red-50: #fff5f5;
  --p-red-100: #ffd0ce;
  --p-red-200: #ffaca7;
  --p-red-300: #ff8780;
  --p-red-400: #ff6259;
  --p-red-500: #ff3d32;
  --p-red-600: #d9342b;
  --p-red-700: #b32b23;
  --p-red-800: #8c221c;
  --p-red-900: #661814;
  --p-primary-50: #f5f9ff;
  --p-primary-100: #d0e1fd;
  --p-primary-200: #abc9fb;
  --p-primary-300: #85b2f9;
  --p-primary-400: #609af8;
  --p-primary-500: #3b82f6;
  --p-primary-600: #326fd1;
  --p-primary-700: #295bac;
  --p-primary-800: #204887;
  --p-primary-900: #183462;
  --p-gray-50: #FAFAFA;
  --p-gray-100: #F5F5F5;
  --p-gray-200: #EEEEEE;
  --p-gray-300: #E0E0E0;
  --p-gray-400: #BDBDBD;
  --p-gray-500: #9E9E9E;
  --p-gray-600: #757575;
  --p-gray-700: #616161;
  --p-gray-800: #424242;
  --p-gray-900: #212121;
  color-scheme: light;
}
body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
}
html {
  padding: 0;
  margin-left: calc(100vw - 100%);
  margin-right: 0;
}
#app {
  min-height: 100vh;
}
img {
  user-select: none;
}
div {
  user-select: none;
}
* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
p {
  user-select: text;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  user-select: text ;
}
.app-container {
  max-width: 1200px;
  margin: 0 auto;
}
img {
  user-select: none;
}
.aspect-1-1 {
  aspect-ratio: 1/1;
}
.img-contain {
  object-fit: contain;
  object-position: center;
  display: block;
}
.-translate-x-50 {
  transform: translateX(-50%);
}
.-translate-y-50 {
  transform: translateY(-50%);
}
.-translate-xy-50 {
  transform: translateX(-50%) translateY(-50%);
}
/*# sourceMappingURL=main.css.map */